# Ignore temporary Emacs files
*~
.class*

/bin

#Ignore Eclipse directories
.settings
.project
.classpath

#Ignore Intellij files
*.iml
.idea

# Exclude build directory
target
build
out
.gradle
gradle

*.DS_Store

*.log
*.log.lck

