*{
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	min-height: 100%;
  position: relative;
}

body {
	background: none;
	color: #333;
	font-size: 16px;
	line-height: 1.42857143;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.full {
  background: url(/assets/leaves-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page{
	min-height: 100vh;
	
	padding-left: 0px;
	padding-right: 0px;
	
	background-color: rgba(255, 255, 255, 0.95);
	border: 1px solid #dddddd;
}

.main{
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 50px;
}

.footer {
  bottom: 0;
  padding: 30px 0px;
  margin: 0px;
  text-align: center;  
  
  background-color: rgba(255, 255, 255, 0.4);
	border-top: 1px solid #dddddd;
}

.navbar {
  margin: 50px 0px 30px 0px;
  padding: 0px;
  
  background-color: rgba(255, 255, 255, 0.0);
  border: 0px solid transparent;
}

.logo {
	margin: -20px 20px 0px 20px;
	width: 120px;
}

.content, .left-content, .right-content{
	background-color: rgba(255, 255, 255, 0.4);
	text-align: justify;
}

.content h5, .left-content h5, .right-content h5{
	font-weight: normal;
}

.left-content ul, .left-content ol, .right-content ul, .right-content ol{
	margin-left: 20px;
}

.content .aling-ul, .content .aling-ol{
	margin-left: 22px;
}

.img-centered{
	display: block;
	margin: 0 auto;
}

.section{
	margin-bottom: 30px;
}

#toolContent{
	padding: 20px;
	background-color: #ffffff;
	border-bottom: 	1px solid #dddddd;
	border-left: 		1px solid #dddddd;
	border-right: 	1px solid #dddddd;
}

#toolContent ul, #toolContent ol{
	margin-left: 20px;
}

#toolContent table{
	border: 1px solid #dddddd;
}

#toolContent .btn-group{
	margin-bottom: 20px; 
}

#editor { 
    height: 800px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
}

.input-xs {
	height: 22px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

#map-canvas {
	height: 600px;
	margin: 0;
	padding: 0;
}

.ind-content{
	padding: 15px 0px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

#indicator_tabs, #indicator_content {
	padding: 0px 15px;
}

.spinner {
	width: 100px;
}
.spinner input {
	text-align: right;
}
.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
	position: absolute;
	top: 0;
	left: 4px;
}

.tab-content>.tab-pane {
	padding: 15px 0px;
}

#indicator_content .form-group{
	margin-bottom: 25px;
}

.clear{
	margin-top: 9px;
}

#assessment_tab > .active > a{
	color: #ffffff;
	background-color: #4582ec;
	border-color: #4582ec;
}
