*{
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	min-height: 100%;
  	position: relative;
}

body {
	background: none;
	color: #333;
	font-size: 16px;
	line-height: 1.42857143;
	font-family: Georgia, "Times New Roman", Times, serif;
}

@media (min-width: 768px){
	.container {
		width: auto;
	}
}

@media (min-width: 992px){
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px){
	.container {
		width: 1170px;
	}
}

fieldset{
	margin-bottom: 22px;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}

.full {
  background: url(/assets/sugarcane.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ide {
	background-color: #DDDDDD;
}

.page{
	min-height: 100vh;
	
	padding-left: 0px;
	padding-right: 0px;
	
	background-color: rgba(255, 255, 255, 0.96);
	border: 1px solid #dddddd;
}

.main{
	margin-left: 0px;
	margin-right: 0px;
}

.footer {
  bottom: 0;
  padding: 30px 0px;
  margin: 0px;
  margin-top: 30px;
  text-align: center;  
  
  background-color: rgba(255, 255, 255, 1.0);
	border-top: 1px solid #dddddd;
}

.navbar {
  margin: 40px 0px 20px 0px;
  padding: 0px;
  
  background-color: rgba(255, 255, 255, 0.0);
  border: 0px solid transparent;
}

.logo {
	margin: -20px 20px 0px 20px;
	width: 120px;
}

.content, .left-content, .right-content{
	background-color: rgba(255, 255, 255, 1.00);
	text-align: justify;
	padding: 20px;
}

.content h5, .left-content h5, .right-content h5{
	font-weight: normal;
}

.left-content ul, .left-content ol, .right-content ul, .right-content ol{
	margin-left: 20px;
}

.aling-list ul, .aling-list ol{
	margin-left: 22px;
}

.img-centered{
	display: block;
	margin: 0 auto;
}

.feature{
    margin-top: 30px;
    margin-bottom: 60px;
}

.feature .row{
	margin-top: 10px;
	margin-bottom: 10px;
}

.feature .radio{
	margin-left: 15px;
	margin-right: 15px;
}

.feature .weight-label{
	margin-bottom: 0;
	padding-top: 9px;
    font-weight: normal !important;
}

.section{
	margin-bottom: 20px;
}

.editor {
	height: 800px;
	border: 1px solid #DDD;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	margin-top: 5px;
}

.input-xs {
	height: 22px;
	padding: 5px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.ind-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}

.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 8px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i{
	position: absolute;
	top: 0;
	left: 4px;
}

.tab-content>.tab-pane {
	padding: 15px 0px;
}

.tab-content>.tab-pane legend {
	padding: 0px 15px;
}

.tab-content>.tab-pane .form-group {
	margin-left: 15px;
	margin-right: 15px;
}

.form-inline-block{
	display: inline-block;
	margin: 0 2px;
}

.input-text-lg{
	font-size: 13px;
}

.ace_error-line{
	position: absolute;
	background: rgba(228, 53, 58, 0.75);
	z-index:40;
}

.list-group-item{
	width: 100%;
}

.login{
    margin-top: 50px;
    margin-bottom: 100px;
}

.has-error{
	color: #d9534f;
}

.top-buffer { margin-top:10px; }

.form-group.required .control-label:after {
	content:"*";
	color:red;
}

#toolContent{
	padding: 20px;
	background-color: #fff;
	border-bottom: 	1px solid #ddd;
	border-left: 	1px solid #ddd;
	border-right: 	1px solid #ddd;
}

#toolContent ul, #toolContent ol{
	margin-left: 20px;
}

#toolContent table{
	border: 1px solid #dddddd;
}

#toolContent .btn-group{
	margin-bottom: 20px; 
}

#graphic svg{
    display: block;
    margin: 0 auto;
}

#map svg{
    display: block;
    margin: 0 auto;
}

#map-canvas {
    height: 600px;
    margin: 0;
    padding: 0;
}

.treeview .list-group-item {
	font-size: 14px;
	padding: 10px 15px;
}

.title{
	padding: 10px;
	margin: 0px;

	font-family: Georgia;
	font-size: 14px;
	font-weight: bold;
	color: #2196f3;
	text-align: center;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #dddddd;

	border-top-right-radius: 3px;
	border-top-left-radius: 3px;

	-webkit-box-shadow: inset 0 -2px 0 #2196f3;
}

.treesViews{
	height: 800px;
	margin-top: 5px;
	overflow-y: auto;
}




